.user_profile_navigation{
    width: 100%;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 0;
}
.user_profile_navigation a{
    z-index: 1;
    color: #13496b;
    font-weight: bold;
    margin: 0 !important;
    border-bottom: 2px solid #f4f6f7;
    cursor: pointer;
}
.user_profile_navigation li{
    display: inline-block;
    float: none;
}
.user_profile_navigation > li.active > a{
    border: 0 !important;
    border-bottom: 2px solid #f68935 !important;
}.user_profile_navigation > li:hover > a{
    border: 0 !important;
    border-bottom: 2px solid #f68935 !important;
}
.user_profile_navigation::after {
    height: 2px;
    width: 100%;
    content: "";
    background-color: #f4f6f7;
    top: 88%;
    position: absolute;
}
.success-border{
    border-left: 2px solid #20a8e0;
}
.margin-0{
    margin: 0;
}
.user_info_header {
    font-weight: bold;
}
.user_info_row {
    padding: 20px 0;
    background-color: #fff;
    margin-bottom: 3px !important;
}
.user_map{
    height: 300px;
    width: 100%;
}
.widget-user .widget-user-header {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.blue_text{
    color: #20a8e0 !important;
}
.user_found_text {
    padding: 20px 5px;
    color: #c7c8cd;
}
.search_text {
    padding: 10px 0px !important;
}
.search_text:focus{
    outline: 0;
}
.cover{
    margin:0;
    padding:0;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-color: black;
    max-height: 460px;
    min-height: 460px;
    overflow: hidden; 
}
#cover img,
#cover iframe,
#cover video,
#cover audio{
    width: 100%;
    padding: 0;
}
.btn-blue{
    background-color: #20a8e0;
    color: #fff;
}
.border-radius-0{
    border-radius: 0;
}
.modal-footer.text-left{
    text-align: left;
}
.border-bottom-0{
    border-bottom: 0;
}
input[type=text].border-bottom-0, 
input[type=password].border-bottom-0, 
select.border-bottom-0, 
textarea.border-bottom-0{
    border-bottom: 0;
}
.red_text{
    color: #a94442;
}
.follow-user-btn{
    color: #fff !important;
    font-weight: bold;
}

.suggested_user_div {
    max-height: 350px;
    overflow-y: auto;
}
.watch_box{
    cursor: pointer;
}
.copyright_box {
    box-shadow: none;
    padding: 15px 10px;
    margin: 0;
}
.post_file_upload_container {
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    cursor: pointer;
}
.post_file_upload_container input[type=file] {
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    cursor: pointer;
    width: 100px;
}
.item .image iframe, 
.item .image video,
.item .image audio,
.item .image img{
    max-width: 100% !important;
    width: 100%;
}
.box iframe,
.box video,
.box audio,
.box img{
    max-width: 100%;
}
.modal iframe, 
.modal video,
.modal audio{
    max-width: 100%;
}
.buttons{
    display: none;
}
.edit_user_detail {
    float: right;
}
.podcast #post_media{
    width: 100% !important;
}
.profile_img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
.widget-user-image:hover .profile_img_overlay{
    opacity: 1;
}
.file_upload {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.file_upload .file {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
.file_upload .icon{
    position: absolute;
    top: 37%;
    left: 30%;
}
.widget-user-header{
    position: relative;
}
.widget-user-header:hover .profile_img_overlay{
    opacity: 1;
}
.cover_image_upload {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    color: #fff;
    width: 100%;
    height: 100%;
    //border-radius: 50%;
}
.cover_image_upload .file {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //border-radius: 50%;
    cursor: pointer;
}
.cover_image_upload .icon {
    position: absolute;
    top: 44%;
    left: 44%;
    z-index: 49;
    color: #fff;
    font-size: 31px;
}
.user_role_selector{
    display: none;
}
.payment_result {
    font-weight: bold;
    padding: 10px 0;
    font-size: 16px;
}
.payment_result.error {
    color: #a94442;
}
.payment_result.success {
    color: #3c763d;
}
.user_profile_img{
    position: relative;
}
.user_profile_img .user_type_icon_image {
    position: absolute;     
    top: 1px;
    right: -8px;
    width: 15px;
}
.user-block .username,
.user-block .description, 
.user-block .comment{
    margin-left: 75px;
}
.user_image{
    position: relative;
    width: 50px;
}
.user-block img {
    width: 50px;
    height: auto;
    float: left;
}
.box-comments .box-comment img {   
    height: auto !important;
    width: inherit !important;
}
img .user_profile_img{
    height: 35px !important;
    width: 35px !important;
}
.box-comments .comment-text{
    margin-left: 60px;
}
.comment_user_image {
    position: relative;
    width: 35px;
    float: left;
}
.comment_user_image.col-md-2{
    width: 12%;
}
.comment_form .img-push {
    margin-left: 55px;
}
.widget-user-image .user_profile_img{
    width: 90px;
}
#cookie_banner {
    width: 100%;
    margin: 0;
    background-color: #ccc;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #000013;
    z-index: 999;
    padding: 10px;
}
#cookie_banner .cookie_btn {
    margin-left: 15px;
    cursor: pointer;
    display: inline;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
    color: #444;
}
.sidebar-menu > li{
    font-size: 14px;
}
.sidebar-menu > li >a {
    padding: 10px 5px;
}
.box-tools.plus{
    top: -3px !important;
}
.progressDiv {
    width: 84%;
    position: relative;
    left: 11%;
    display: inline-block;
}

.statRightHolder {
    display: inline-block;
    height: 90%;
    width: 64%;
    position: relative;
    top: -32px;
    margin: 0;
}
.statRightHolder ul {
    list-style: none;
    margin: 0;
}
.statRightHolder li {
    border-bottom: 1px solid #ccc;
    height: 85px;
    width: 95%;
    position: relative;
    top: -25px;
}
.statRightHolder h3 {
    display: inline-block;
    margin-right: 15px;
    color: #B6B5B5;
    font-weight: 300;
    font-size: 38px;
}
.statRightHolder span {
    display: inline-block;
    color: #B6B5B5;
    font-size: 21px;
    font-weight: 300;
}

.statsLeft {
    list-style:none;
    display:inline-block;
    width:45%;
}
.statsLeft li {
    width: 100%;
    height: 14px;
    border: none;
    margin-bottom: 25px;
}
.statsLeft h3{
    font-size:17px;
    display: inline-block;
}
.statsLeft span{
    font-size: 17px;
    display:inline-block;
}
.statsRight {
    width: 45%;
    display: inline-block;
    position: absolute;
}
.statsRight li {
    width: 100%;
    height: 14px;
    border: none;
    top: 5px;
    margin-bottom: 25px;
}
.statsRight h3{
    font-size:17px;
    display: inline-block;
}
.statsRight span{
    font-size: 17px;
    display:inline-block;
}
/* Pie Chart */
.progress-pie-chart {
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}
.progress-pie-chart.gt-50 {
    background-color: #20a8e0;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(48% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background: #20a8e0;
    transform: rotate(60deg);
}
.gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.91304px/2);
    top: calc(50% - 173.91304px/2);
    width: 173.91304px;
    height: 173.91304px;
    background: #fff;
    text-align: center;
    display: table;
}
.ppc-percents span {
    display: block;
    font-size: 2.6em;
    color: #777;
}
.balance {
    position: absolute;
    top: 25%;
    z-index: 9;
    right: 36%;
}
.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}
@media only screen and (min-width: 768px) and (max-width: 960px){
    .sidenav {
        height: 100%; /* 100% Full-height */
        //width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        display: none;
        background-color: #222d32;
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    /* The navigation menu links */
    .sidenav a {
        display: block;
        transition: 0.3s
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        display: block;
    }
    .menu-button{
        display: block;
        color: white;
        z-index: 9999;
        position: absolute;
        left: 28px;
        top: 5px;
        font-size: 28px;
    }
    .main_content{
        width: 100%;
    }
    .t-chat {
        position: absolute;
        top: -50px;
        right: 0px;
        width: 21.6%;
        background-color: #222d32;
        z-index: 999;
        display: none;
    }
    .t_chat_open{
        color: #fff;
        position: absolute;
        z-index: 999999;
        top: -35px;
        right: 35px;
        display: block;
    }
    .box-widget{
        //  padding-left: 2%;
    }
    .img-responsive{
        width: 40%;
    }
    #sections{
        max-height: 480px;
        overflow-x: auto;
    }
    .t_chat_menu .closebtn {
        top: 0;
        right: 25px;
        font-size: 36px;
        display: block;
        color: #fff;
    }
    .chat-user {
        margin-left: -5px;
    }
    #chat-box-footer .freicontain {
        width: 31.9%;
    }
    .chatboxcontent {
        max-height: 120px !important;
    }
    .wrapper.row{
        margin-left: 0px !important; 
    }
    .sidebar {
        left: 0%;
    }
    .box_fix{
        position:fixed;
        left: 0;
        width: 97%;
    }
    .box_post{
        left: 24.3%;
        position:relative;
    }
    .box_fix2{
        position: fixed;
        left: -1%;
        width: 35.5%;
    }
    .box_post2 {
        left: 33.8%;
        width: 66%;
        /* position: relative; */
    }
}
@media only screen and (max-width: 767px){
    .box_post{
        width:103%;
    }
    .frei_tab{
        display: none;
    }
    .sidenav {
        height: 100%; /* 100% Full-height */
        //width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        display: none;
        background-color: #222d32;
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    /* The navigation menu links */
    .sidenav a {
        display: block;
        transition: 0.3s
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: -15px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        display: block;
    }
    .menu-button {
        display: block;
        /* color: antiquewhite; */
        z-index: 999;
        position: absolute;
        top: 10px;
        font-size: 32px;
        left: 30px;
        color: white;
    }
    .main_content{
        width: 100%;
    }
    .sidebar {
        position: relative;
        top: -50px;
        left: 48%;
        bottom: 0px;

    }
    .t-chat {
        position: absolute;
        top: -75px;
        right: 0px;
        width: 21.6%;
        background-color: #222d32;
        z-index: 999;
        display: none;
    }
    .t_chat_open{
        color: #fff;
        position: absolute;
        z-index: 999999;
        top: -43px;
        right: 20px;
        display: block;
    }
    .box-widget{
        padding-left: 5%;
    }

    #sections{
        max-height: 480px;
        overflow-x: auto;
    }
    .t_chat_menu .closebtn {
        top: 0;
        right: 25px;
        font-size: 36px;
        display: block;
        color: #fff;
    }
    .chat-user {
        margin-left: -5px;
    }
    #chat-box-footer .freicontain {
        width: 31.9%;
    }
    .chatboxcontent {
        max-height: 120px !important;
    }
    .main-sidebar{
        padding-top: 63px !important;
    }
    #mySidenav,#t_chat_menu{
        width: 100% !important;
    }
    #chat-box-footer .freicontain {
        width: 100%;
    }
    .message-count {
        margin-top: -15px;
    }
    .t-chat {
        right:-15px;
    }
    .user_profile_navigation {
        width: 97% !important;
        right: -15px;
    }
    .box_fix{
        position:inherit;
        width: 103%;
    }
    .box_post{
        left: 0%;
        position:inherit;
    }
    .box_fix2{
        position: inherit;        
        width: 100%;
    }
    .box_post2 {
        left: 33.8%;
        width: 66%;
        /* position: relative; */
    }
}
@media only screen and (max-width: 425px){
    .sidebar {
        left: 54%;
    }
    .user_profile_navigation {
        width: 96.5% !important;
    }
    .box_fix2{          
        width: 103%;
    }
    .box_post2 {
        left: 0%;
        width: 103%;
        /* position: relative; */
    }
    .box.box-widget.widget-user{
        padding-left: 0;
    }
    .box-body .img {
        width: 98%;
    }

}
@media only screen and (max-width: 375px){
    .sidebar {
        left: 61%;
    }
    .user_profile_navigation {
        width: 96% !important;
    }
    .img{
        width: 40px;
    }
    .box_post, .box_fix{
        width:104%;
    }
}
@media only screen and (max-width: 325px){
    .user_profile_navigation {
        width: 95.5% !important;
    }
    .sidebar {
        left: 71.3%;
    }
    .message-count {
        margin-top: -30px;
    }
    .box_post, .box_fix{
        width:105%;
    }
}
/**********
orange: #f68935
blue: #20a8e0
grey: #c7c8cd

red color text: #a94442
green color text: #3c763d

********/
